:root {
  --white-bone: #ededff;
  --grey-stone: #888888;
  --grey-wood: #696460;
  --grey-metallic: #3a4142;
  --grey-darker: #3e3e3e;
  --grey-asphalt: #1a1a1a;
  --yellow-lemon: #fdf039;
  --yellow-leaf: #cca011;
  --green-leaf: #29941f;
  --red-wood: #a32e1a;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  color: var(--white-bone);
  border: 2px solid var(--white-bone);
}

.closed {
  background-color: var(--grey-darker);
}

.id {
  font-size: 10.5px;
}